{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h1>Na tej stronie sprawdzisz swoje spalanie!</h1>
<p>W zakładce 'Sprawdź Swoje Spalanie' możesz sprawdzić przybliżone spalanie jakie ma samochód o podanej mocy.
    Dostępne są informacje na temat: spalania w trasie, spalania w cyklu miejskim oraz spalania w cyklu mieszanym.<p/>
<p>Jeśli chcesz pomóc innym użytkownikom udostępniając im swoje dane na temat spalania, możesz to zrobić w zakładce 'Wprowadzanie Danych'.
W tej samej zakładce dostępne są też dane od innych użytkowników, takie jak marka, model, spalanie oraz moc ich samochodów.</p>
{% endblock %}